- var questValues = [' Как гайти точки роста и определить цели?','Как избежать проблем на старте нового бизнеса?','Как увеличить прибыль, управляя ценами?','Как не попасть в "черную дыру" затрат на продвижение?'] 
