.serv__form 
    .serv__form-item 
            .serv__form-input 
                input(type="text" placeholder='Ваше имя').input.serv__input-name
                .error-text 
            .serv__form-input 
                input(type="text" placeholder='Email').input.serv__input-email
                .error-text 
            button.form__btn.form__btn-error Получить консультацию
            .send-text 