extends ../maket.pug
include ../mixin/trainCart.pug
block content
     include ../data/trainData.pug
     .train 
          .container 
               .train__list 
                    each val in trainData 
                         +trainCart(val)