.modal-none {
    display: none;
}

.modalWindow-bg {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    padding-top: 120px;
    padding-bottom: 120px;
    background: rgba(0, 0, 0, 0.2);

    .modalWindow {
        width: 500px;
        background-color: white;

        .modalWindow__close {
            padding-left: 30px;
            padding-top: 20px;
        }
    }

    .modalForm__title {
        font-family: 'Lato';
        font-style: normal;
        font-weight: 700;
        font-size: 22px;
        line-height: 26px;
        letter-spacing: 0.03em;
        text-transform: uppercase;

        color: #282C37;
    }

    .modalForm {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 24px;

        .modalForm-input {
            width: 80%;
            justify-content: center;
            align-items: center;

            .input {
                width: 100%;
            }

            .input__textarea {
                height: 190px;
                text-align: left;
                padding-top: 10px;
            }



        }
    }



    .form__btn {
        width: 80%;
    }
}