.header {
    height: 70px;
    display: flex;
    flex-direction: row;
    align-items: center;
    box-shadow: 0px 2px 8px rgba(50, 59, 80, 0.05);

    .logo__text {
        font-family: 'Lato';
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 14px;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #282C37;
        padding-left: 15px;
    }

    .menu {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }

    .header-links {
        display: flex;
        gap: 21px;
        justify-content: right;

    }

    .menu .nav__item--active {
        font-weight: 700;
    }

    .menu a {
        font-family: 'Lato';
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 17px;
        text-align: center;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #282C37;
        text-decoration: none;
    }

    .header__right {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .header__door {
        display: none;
    }

}

.burger {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    background-color: white;
    transition: left 0.5s;
    left: 0%;

    .burger__close {
        padding-top: 24px;
    }

    .burger__logo {
        width: 64px;
        padding-bottom: 80px;
    }

    .burger__content {
        padding-top: 104px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;

        .header-links {
            display: flex;
            justify-content: center;
            margin-top: 160px;
            gap: 40px;
        }
    }

    .burger__menu {
        display: flex;
        flex-direction: column;
        gap: 45px;



        .nav__item {
            font-family: 'Lato';
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            line-height: 19px;
            text-align: center;
            letter-spacing: 0.03em;
            text-transform: uppercase;
            text-decoration: none;
            color: #282C37;
        }

        .nav__item--active {
            font-weight: 700;
        }
    }

}

.burger--notActive {
    left: 100%;
}





@media (max-width:768px) {
    .header {


        .header__block {
            justify-content: space-between;
        }

        .header-links {
            display: none;
        }

        .menu {
            display: none;
        }

        .header__door {
            display: block;
            text-align: right;
        }
    }
}